@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap");

* {
  font-family: "Inconsolata", monospace;
  font-size: medium;
}

html {
  /* background-color: #151515; */
  background-image: url("https://images.pexels.com/photos/4814074/pexels-photo-4814074.jpeg?cs=srgb&dl=pexels-karolina-grabowska-4814074.jpg&fm=jpg&w=1920&h=1080");
  background-position: center;
  background-repeat: no-repeat;
}

.title {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 30px;
}
.App {
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}

.right {
  width: 30vw;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-top: 1rem;
}

.left {
  width: 40vw;
}

.proj-link {
  background-color: #000000cb;
  color: #fff;
  position: absolute;
  left: 200px;
  padding: 30px;
  border-radius: 10px;
}

@media (max-width: 885px) {
  /* .right {
    display: none;
  } */

  .left {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .title {
    width: 100vw;
  }
  .terminals {
    display: flex;
    flex-direction: column;
    gap: 26px;
  }

  .App {
    display: flex;
    flex-direction: column;
  }
}
