h1 {
  color: #44aa3b;
}

#title-text {
  font-size: xx-large;
  display: inline-flex;
  margin: 12px 0px 2px;
  width: max-content;
}
@keyframes flickerAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#cursor {
  font-size: xx-large;
  margin: 0;
  animation: flickerAnimation 1.8s infinite;
}

@media (max-width: 885px) {
  #title-text {
    margin: 12px 0px 44px;
  }
}
