.terminal {
  background-color: #1b1b1b;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
  /* background-color: #151515; */

  border: 1px solid #000000;
  border-radius: 12px;
  border-color: #f0f0f0;

  height: 16rem;
  width: 26rem;

  padding-left: 12px;
  padding-right: 12px;
  padding-top: 6px;
  color: #ffffff;
}

.terminal * {
  margin-top: 0;
  margin-bottom: 0;
}

.titlebar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.title-buttons {
  display: flex;
  flex-direction: row;
  gap: 4px;
}

.t-btn {
  border-radius: 180px;
  width: 18px;
  height: 18px;
  border: 0;
}

.green {
  background-color: #34aa38;
}
.orange {
  background-color: #cfad56;
}
.red {
  background-color: #d73b3b;
}

@media (max-width: 885px) {
  .terminal {
    height: 270px;
    width: 80vw;
  }
}
